<div class="relative z-10">
    <div class="relative h-80 overflow-y-hidden overflow-x-hidden md:h-[550px]">
        <div>
            {{ page.banner.make.class('absolute block w-full')|raw }}
            <div class="text-start absolute block max-w-screen-xl left-1/2 -translate-x-1/2 mt-20 space-y-4 md:mt-28 md:space-y-4 dissolve-effect">
                <h1 class="w-full text-white text-lg md:text-5xl font-bold">{{ page.banner_title }}</h1>
            </div>
        </div>
    </div>
</div>