<div class="max-w-screen-xl mx-auto my-12 space-y-8 ">
  <div>
    <h1 class="text-xl md:text-[36px] font-medium text-start text-gray-900" style="font-family: 'Ubuntu';">Pekerjaan kami</h1>
  </div>
  <div class="flex justify-between items-end">
    <p class="text-gray-900 text-[18px] w-3/4 font-normal" style="font-family: 'Roboto';">Selama lebih dari 7 tahun, Sekawan Media telah mengantarkan berbagai bisnis, mulai dari skala kecil hingga besar, untuk naik level. Kami percaya bahwa produk kami dapat mengatasi tantangan bisnis terberat Anda dengan menciptakan alur kerja yang lancar—dari perangkat manapun.</p>
    <div class="relative group space-y-2 mb-4">
        <a href="" class="uppercase text-lg font-medium w-1/4 text-gray-800 hover:text-blue-900" style="font-family: 'Roboto';">
            Lihat Semua
        </a>
        <div class="absolute left-0 right-0 h-[3px] bg-blue-900 w-1/3 hover:transition group-hover:duration-1000 group-hover:ease-in-out group-hover:w-full"></div>
    </div>
</div>
</div>