<div class="my-12 mt-54 md:mt-8 max-w-screen-lg mx-auto relative z-10">
  <div class="flex-none text-center space-y-8 min-w-screen-lg">
    <h1 class="text-3xl tracking-wide font-bold text-gray-800">Menjangkau Kebutuhan Unik Secara Global</h1>
    <p class="text-gray-700 text-md mx-auto">Sekawan Media telah membantu ratusan perusahaan kecil, menengah, hingga besar dalam jangkauan global. Dengan berfokus penuh pada kebutuhan unik setiap permasalahan, layanan kami memberikan solusi yang tepat dan akurat dengan hasil maksimal.</p>
  </div>
  <div class="w-full flex justify-start items-center my-8 relative">
    {{ img('theme::img/maps-img.png').class('w-auto px-4 mx-auto').alt('Jangkauan Services Sekawan Media')|raw }}
    <div class="absolute justify-start">
      <div class="bg-cover grid grid-col-1 items-center gap-4 p-8">
          <div class="w-48 h-20 bg-white bg-opacity-20 backdrop-blur-sm rounded shadow-lg px-4 py-2 mx-8 group transition duration-300 ease-in-out hover:bg-blue-900 hover:bg-opacity-60">
            <h1 class="text-3xl tracking-wide font-bold text-gray-800 group-hover:text-white">5+</h1>
            <h5 class="text-sm tracking-wide font-normal text-gray-600 group-hover:text-white">Cakupan Negara</h5>
          </div>
          <div class="w-48 h-20 bg-white bg-opacity-20 backdrop-blur-sm rounded shadow-lg px-4 py-2 mx-8 group transition duration-300 ease-in-out hover:bg-blue-900 hover:bg-opacity-60">
            <h1 class="text-3xl tracking-wide font-bold text-gray-800 group-hover:text-white">100+</h1>
            <h5 class="text-sm tracking-wide font-normal text-gray-600 group-hover:text-white">Klien Puas</h5>
          </div>
          <div class="w-48 h-20 bg-white bg-opacity-20 backdrop-blur-sm rounded shadow-lg px-4 py-2 mx-8 group transition duration-300 ease-in-out hover:bg-blue-900 hover:bg-opacity-60">
            <h1 class="text-3xl tracking-wide font-bold text-gray-800 group-hover:text-white">300+</h1>
            <h5 class="text-sm tracking-wide font-normal text-gray-600 group-hover:text-white">Proyek Selesai</h5>
          </div>
      </div>
    </div>
  </div>
</div>